@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/prueba.css">
</head>
<body>
    <div class="container">
        <div class="column">
            <img src="imagen.jpg" alt="Imagen">
        </div>
        <div class="column">
            <h2>Título de la columna de texto</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit sem et arcu laoreet, vel eleifend urna molestie. Phasellus ut orci nulla. Curabitur eu urna bibendum, faucibus nulla sed, eleifend sapien. Nulla facilisi. Duis auctor felis quis sem aliquam, eget feugiat mi fermentum. Aliquam at turpis elit.</p>
        </div>
    </div>
</body>
</html>
