<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos - Clínica General Nueva Vida</title>
    <link rel="stylesheet" href="~/css/EstiloCredito.css">
</head>
<body>
    <h1>Contactos - Clínica General Nueva Vida</h1>
    <br />
    <div class="contactos">
        <div class="contacto">
            <div class="nombre">Dr. Alexander Veliz Salinas</div>
            <div class="telefono">Teléfono: 123-456-7890</div>
            <div>Email: DAVeliz@clinicageneralnuevavida.com</div>
        </div><br />
        <div class="contacto">
            <div class="nombre">Dr. Rodrigo Taboada Caceres</div>
            <div class="telefono">Teléfono: 987-654-3210</div>
            <div>Email: RTCaceres@clinicageneralnuevavida.com</div>
        </div><br />
        <div class="contacto">
            <div class="nombre">Dr. Alejandro Sanchez Gutierrez</div>
            <div class="telefono">Teléfono: 654-123-789</div>
            <div>Email: ASGutierrez@clinicageneralnuevavida.com</div>
        </div><br />
        <!-- Agrega más contactos aquí -->
    </div>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Clinica General Nueva Vida #TodasMienten - <a asp-area="" asp-controller="Home" asp-action="Privacy">Politicas de Privacidad</a>
    </div>
</footer>
</html>