<!DOCTYPE html>
<html>
<head>
    <title>Créditos de los Desarrolladores</title>
    <link rel="stylesheet" type="text/css" href="~/css/EstiloCredito.css">
</head>
<body>
    <h1>Créditos de los Desarrolladores</h1>

    <div class="developer">
        <p class="name">Desarrollador 1</p>
        <p class="role">Rol: Front-end Developer</p>
    </div>

    <div class="developer">
        <p class="name">Desarrollador 2</p>
        <p class="role">Rol: Back-end Developer</p>
    </div>

    <div class="developer">
        <p class="name">Desarrollador 3</p>
        <p class="role">Rol: Diseñador UI/UX</p>
    </div>

    <div class="developer">
        <p class="name">Desarrollador 4</p>
        <p class="role">Rol: Diseñador UI/UX</p>
    </div>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Clinica General Nueva Vida #TodasMienten - <a asp-area="" asp-controller="Home" asp-action="Privacy">Politicas de Privacidad</a>
    </div>
</footer>
</html>