body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
}
h1{
    text-align:center;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #fff;
    color: #b80f22;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: transparent;
    box-sizing: border-box;
    padding: 70px 30px;
    border: solid;
}

final {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    opacity: 0.4;
}
.border-top footer text-muted {
    width: 320px;
    height: 420px;
    background: #fff;
    color: #b80f22;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

    .login-box input[type="text"], .login-box input[type="contraseña"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #822121;
        font-size: 16px;
    }

    .login-box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        text-align: center;
        background: #b80f22;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

        .login-box input[type="submit"]:hover {
            cursor: pointer;
            background: #ffc107;
            color: #000;
        }

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

    .login-box a:hover {
        color: #808080;
    }


/* Estilo para la tabla */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

/* Estilo para las celdas de encabezado de la tabla */
th {
    background-color: #e8e8e8;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

/* Estilo para las celdas normales de la tabla */
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Estilo para el hover (al pasar el mouse sobre las celdas) */
tr:hover td {
    background-color: #e0e0e0;
}

/* Estilo para la primera columna (si la tienes) */
td:first-child {
    font-weight: bold;
    color: #555;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
}

    .my-button:hover {
        background-color: #45a049;
    }
